<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
</head>
<body>
    <h1>Join</h1>
    <hr>
    <form action="/join" method="post">
        <input type="text" name="username" id="username" placeholder="Enter your username">
        <button type="button" onclick="usernameCheck()">Check username</button>
        <br>
        <input type="password" name="password" placeholder="Enter your password">
        <br>
        <button>Join</button>
    </form>

    <script>
        function usernameCheck() {
            let username = document.getElementById("username").value;

            fetch(`/api/users/username-check?username=${username}`)
                .then(response => response.json())
                .then(data => {
                    if (data.body) {
                        alert("Username is already taken.");
                    } else {
                        alert("Username is available.");
                    }
                })
                .catch(error => console.error("Error:", error));
        }
    </script>
</body>
</html>
